<% provide(:title, @title) %>
<% if @user %>
<%= render 'shared/error_messages', object: @user %>
<% end %>
<h1><%= @title %></h1>

<div class="row">
  <div class="search_form">
    <%= render 'users/search_form' %>
  </div>
</div>

<div class="row">
  <div class="csv_form">
    <%= form_tag({controller: "users", action: "import", method: "post"}, {multipart: true}) do %>
      <%= file_field_tag :file %>
      <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!--<%#= paginate @users %>-->

<% unless @users.empty? %>
<!--<ul class="users">-->
<!--  <#% @users.each do |foobar| %>-->
<!--    <#%= render foobar %>-->
<!--  <#% end %>-->
<!--</ul>-->

<ul class="users">
  <%= render @users %>
</ul>

<% else %>
  <p>
    Couldn't find any user.<br>
    Please check username you are looking for.
  </p>
<% end %>

<%= paginate @users %>