<% provide(:title, @user.name) %>


<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
              <%= link_to subtract_time_card_path, method: :patch, remote: true do %>
                <i class="fas fa-angle-left"></i>
              <% end %>
              <%= @year %>年<%= @month %>月 時間管理表
              <%= link_to add_time_card_path, method: :patch, remote: true do %>
                <i class="fas fa-angle-right"></i>
              <% end %>
            </td>
              <td>指定勤務時間 <% if @time_info %><%= time_string_10digits(@time_info.must_work_time) %><% end %></td>
            <td colspan="2"><% if @time_info %><%= time_string_10digits(@time_info.sd_work_time) %><% end %> 基本時間</td>
            <td>初日 <%= @first_day.month %>/<%= @first_day.day %></td>
        </tr>
        <tr>
            <td>所属 <%= @user.depart %></td><td>氏名 <%= @user.name %></td><td>コード</td><td>出勤日数 <%= @time_cards_count %>日</td><td>締め <%= @last_day.month %>/<%= @last_day.day %></td>
        </tr>
    </tbody>
</table>
<div><%= link_to edit_time_card_path do %>
        <button class= "btn btn-primary btn-lg active">勤怠を編集</button>
     <% end %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th><th></th><th colspan="3">出社</th><th colspan="3">退社</th><th></th><th></th>
    </tr>
    <tr>
      <th>日付</th><th>曜日</th><th>時</th><th>分</th><th></th><th>時</th><th>分</th><th></th><th>勤務時間</th><th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% each_date_in_month(@year, @month) do |date, index| %>
    <tr>
      <td><%= date_in_japanese(date, :month_day) %></td>
      <td><%= day_of_the_week_in_japanese(date, :short) %></td>
    <% if @time_cards[index] %>
      <td><%= time_string_hour(@time_cards[index].in_at) %></td>
      <td><%= time_string_min(@time_cards[index].in_at) %></td>
      <td></td>
      <td><%= time_string_hour(@time_cards[index].out_at) %></td>
      <td><%= time_string_min(@time_cards[index].out_at) %></td>
      <td></td>
      <td><%= work_hours(@time_cards[index].work_hours) %></td>
      <td><%= @time_cards[index].remark%></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
    </tr> 
    <% end %>
    <tr>
      <% if @time_info %>
        <td colspan="2"><%= total_standard_work_time(@time_info.sd_work_time,@time_cards_count) %></td>
      <% else %>
        <td colspan="2"><%= 0 %></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <% total_time = total_work_time(@user_time_cards) %>
      <td><%= work_hours_10digits(total_time) %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= form_tag(updata_time_card_path, remote: true, method: :patch, id: 'timecard-form', class: 'form-group show_button') do |f| %>
  <% if @time_card.month == @month && @time_card.year == @year %>
    <% if !@time_card.in_at %>
      <%= submit_tag('出社', name: 'in', id: 'in', disabled: !!@time_card.in_at, class: 'btn btn-primary show_button1') %>
    <% elsif !@time_card.out_at %>
      <%= submit_tag('退社', name: 'out', id: 'out', disabled: !@time_card.in_at || !!@time_card.out_at, class: 'btn btn-success show_button2') %>
    <% end %>
  <% end %>
<% end %>

<div class="hidden">
  <span id="day"><%= @time_card.day %></span>
</div>

<script>
  name = $('#day').text();
  $("#timecard-form").css("top", 219 + (name - 1) * 37); 
</script> 